
.DS_Store
project1/.DS_Store
project1/.idea/dictionaries/xtommy.xml
project1/.idea/inspectionProfiles/profiles_settings.xml
project1/.idea/jupyter-settings.xml
project1/.idea/misc.xml
project1/.idea/inspectionProfiles/Project_Default.xml
project1/.idea/modules.xml
project1/.idea/project1.iml
project1/.idea/vcs.xml
